%span.abouttext
  %center
    %h1= t('a11y.title')
  .text-padding.p-text-sizebump
    %h3
      = t('a11y.p1header')
    %p
      = t('a11y.p1.first')
    %p
      = t('a11y.p1.second')
    %h3
      = t('a11y.p2header')
    %p
      = t('a11y.p2')
      %a{:href => "https://www.access-board.gov/files/aba/guides/toilet-rooms-ABA.pdf", :class => "paddedForSafety"}
      %a{:href => "https://www.access-board.gov/files/ada/guides/toilet-rooms.pdf", :class => "paddedForSafety"}
      %a{:href => "https://adachecklist.org/doc/priority3/p3.pdf", :class => "paddedForSafety"}
      %a{:href => "https://www.access-board.gov/aba/guides/", :class => "paddedForSafety"}

